<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.views">
   <category
         id="erlide.test.views"
         name="Erlide tests">
   </category>
   <view
         category="erlide.test.views"
         class="org.erlide.test_support.ui.suites.EunitResultsView"
         id="org.erlide.test_support.views.testresults"
         name="Test results"
         restorable="true">
   </view>
   <view
         category="erlide.test.views"
         class="org.erlide.test_support.ui.suites.RegressionResultsView"
         id="org.erlide.test_support.views.regressionresults"
         name="Regression results"
         restorable="true">
   </view>
</extension>
<extension
      id="bterlProblem"
      name="bt_erl problem"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
<extension
      point="org.erlide.model.sourcePathProvider">
   <sourcePathProvider
         class="org.erlide.test_support.TestSourcePathProvider">
   </sourcePathProvider>
</extension>
<extension
      point="org.eclipse.core.runtime.adapters">
   <factory
         adaptableType="org.erlide.engine.model.erlang.IErlFunction"
         class="org.erlide.test_support.ui.ErlElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.ui.actions.ILaunchable">
      </adapter>
   </factory>
   <factory
         adaptableType="org.erlide.engine.model.erlang.IErlFunctionClause"
         class="org.erlide.test_support.ui.ErlElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.ui.actions.ILaunchable">
      </adapter>
   </factory>
   <factory
         adaptableType="org.erlide.engine.model.root.IErlModule"
         class="org.erlide.test_support.ui.ErlElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.ui.actions.ILaunchable">
      </adapter>
   </factory>
</extension>
<extension
      point="org.eclipse.core.contenttype.contentTypes">
   <content-type
         base-type="org.eclipse.core.runtime.text"
         file-names="tr.txt"
         id="org.erlide.test_support.trace_file"
         name="Bterl trace file"
         priority="normal">
   </content-type>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.erlide.test_support.ui.trace.TraceEditor"
         default="false"
         id="org.erlide.test_support.editor.trace_file"
         name="Trace file editor"
         symbolicFontName="org.eclipse.jface.textfont">
      <contentTypeBinding
            contentTypeId="org.erlide.test_support.trace_file">
      </contentTypeBinding>
   </editor>
</extension>
<extension
      point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
   <hyperlinkDetector
         activate="true"
         class="org.erlide.test_support.ui.trace.HyperlinkDetector"
         id="org.erlide.test_support.erlang.hyperlinkDetector"
         name="trace hyperlink detector"
         targetId="org.erlide.test_support.trace.target">
   </hyperlinkDetector>
</extension>
<extension
      point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
   <target
         description="trace target"
         id="org.erlide.test_support.trace.target"
         name="Trace editor">
      <context
            type="org.erlide.test_support.ui.trace.TraceEditor">
      </context>
   </target>
</extension>
<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         name="org.erlide.test_support.trace.call">
   </type>
</extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.erlide.test_support.trace.call"
            label="Trace file occurences"
            icon=""
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
</extension>
   <!--extension
         point="org.eclipse.ui.browserSupport">
      <support
            class="org.erlide.test_support.ui.browser.TestBrowserSupport"
            default="false">
      </support>
   </extension-->

  <extension
        id="tracingmarker"
        name="Erlang tracing marker"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.textmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.erlide.test_support.tracingmarker"
            name="org.erlide.test_support.tracing">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.erlide.test_support.tracing"
            colorPreferenceKey="org.erlide.test_support.tracing.color"
            highlightPreferenceKey="org.erlide.test_support.tracing.highlight"
            includeOnPreferencePage="false"
            label="Tracing"
            overviewRulerPreferenceKey="org.erlide.test_support.tracing.overview"
            overviewRulerPreferenceValue="true"
            symbolicIcon="bookmark"
            textPreferenceKey="org.erlide.test_support.tracing.text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="org.erlide.test_support.tracing.vertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#ErlangEditorRulerContext?before=additions">
         <command
               commandId="org.erlide.test_support.toggleTrace"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="org.erlide.test_support.foo"
                     value="bar">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.erlide.test_support.toggleTrace"
            name="Toggle tracepoint">
     </command>
      <command
            categoryId="org.erlide.ui.category.tools"
            id="org.erlide.test_support.run_eunit"
            name="Run EUnit tests">
      </command>
      <command
            categoryId="org.erlide.ui.category.tools"
            id="org.erlide.test_support.debug_eunit"
            name="Debug EUnit tests">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.erlide.test_support.ui.trace.ToggleTracepointHandler"
            commandId="org.erlide.test_support.toggleTrace">
      </handler>
      <handler
            class="org.erlide.test_support.popup.actions.RunEunitHandler"
            commandId="org.erlide.test_support.run_eunit">
      </handler>
      <handler
            class="org.erlide.test_support.popup.actions.DebugEunitHandler"
            commandId="org.erlide.test_support.debug_eunit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.erlide.test_support.run_eunit"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X T">
      </key>
      <key
            commandId="org.erlide.test_support.debug_eunit"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D T">
      </key>
   </extension>
   <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="org.erlide.test_support.launch.EunitLaunchShortcut"
          icon="icons/erl/erlang-notext016.gif"
          id="org.erlide.ui.launch.erlangEunitShortcut"
          label="Eunit tests"
          modes="run,debug"
          path="test">
        <contextualLaunch>
            <enablement>
            <!-- TODO -->
               <with variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.erlide.engine.model.IErlElement">
                        <test
                              args="EUnit"
                              forcePluginActivation="true"
                              property="org.erlide.test_support.detect_tests"
                              value="true">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
        <description
              description="Run EUnit tests for this project."
              mode="run">
        </description>
        <description
              description="Debug EUnit tests for this project."
              mode="debug">
        </description>
    </shortcut>
    <shortcut
          class="org.erlide.test_support.launch.CTLaunchShortcut"
          icon="icons/erl/erlang-notext016.gif"
          id="org.erlide.ui.launch.erlangCTShortcut"
          label="CommonTest tests"
          modes="run,debug"
          path="test">
        <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <iterate>
                     <adapt
                           type="org.erlide.engine.model.IErlElement">
                        <test
                              args="CT"
                              forcePluginActivation="true"
                              property="org.erlide.test_support.detect_tests"
                              value="true">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
        <description
              description="Run CT tests for this project."
              mode="run">
        </description>
        <description
              description="Debug tests for this project."
              mode="debug">
        </description>
    </shortcut>
 </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.erlide.test_support.launch.TestsDetector"
            id="org.erlide.test_support.tests_detector"
            namespace="org.erlide.test_support"
            properties="detect_tests"
            type="org.erlide.engine.model.IErlElement">
      </propertyTester>
   </extension>
</plugin>
